* {
  box-sizing: border-box;
  /* background-color: black; */
}

body{
  margin-top: 5%;
  background-color: rgb(12, 15, 34);
  margin: auto;
}

@font-face {
  font-family: cyrene;
  src: url('/tipografias/Cyrene-Regular.otf');
}

@font-face {
  font-family: halyard;
  src: url('/tipografias/Halyard Display.ttf');
}

h1 {
  font-family:cyrene;
  text-align: center;
  color:#ebeaea;
  font-size: 60px;
  font-weight: 100;
}

h2 {
  font-family:cyrene;
  text-align: center;
  color:#ebeaea;
  font-size: 40px;
  font-weight: 100;
  margin-top: -2%;
}

h4 {
  font-family:cyrene;
  text-align: left;
  color:#ebeaea;
  font-size: 40px;
  margin-top: 3%;
  font-weight: 300;
  margin-bottom: 3%;
  max-width: 700px;
}

.imagen {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 100%;
  margin-bottom: 6%;
  max-width: 900px;
}

.cuerpo {
  font-family: halyard;
  font-size: 20px;
  color: rgb(177, 177, 177);
  line-height: 23px; 
  max-width: 700px;
  margin: auto;
  margin-bottom: 1%;
}

a,
a:visited,
a:hover {
  color: teal;
  text-decoration: none;
  border-bottom: 2px solid currentColor;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: #f3f3f3;
  padding: 1rem;
  padding-right: 5rem;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.nav__examples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.nav__examples > * {
  margin-right: 0.5rem;
}

#intro {
  max-width: 40rem;
  margin: 1rem auto;
  text-align: center;
}

.intro__hed {
  font-size: 2em;
  line-height: 1.2;
  margin: 2rem auto 0.5rem auto;
}

.intro__dek {
  color: #8a8a8a;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

#intro {
  margin-bottom: 320px;
}

#outro {
  height: 640px;
}

@media (min-width: 840px) {
  .nav__examples {
    margin-top: 0;
    margin-left: 2rem;
  }
}

#scrolly {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgb(12, 15, 34);
  padding: 1rem;
}

#scrolly>* {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

article {
  position: relative;
  padding: 0 1rem;
  max-width: 20rem;
  margin: 0 auto;
}

figure {
  position: -webkit-sticky;
  position: sticky;
  /*width: 100%;
  margin: 0; */
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 0;
  background-size: cover; /* Agrega esta línea */
  background-position: center; /* Agrega esta línea */
  width: 1715px;
  height: 800px;
}

figure p {
  text-align: center;
  padding: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 8rem;
  font-weight: 900;
  color: #fff;
}

.step {
  margin: 0 auto 2rem auto;
  text-align: center;
  align-items: center;
  vertical-align: center;
  margin-top: 12%;
  /* background-color: #000000; */
  /* color: #c30606; */
}

.step:last-child {
  margin-bottom: 0;
}

.step.is-active p{
  /* background-color: rgb(0, 0, 0); */
  color: rgb(177, 177, 177);
}

.step p {
  text-align: center;
  font-size: 18px;
  font-family: halyard;
  color: rgba(177, 177, 177, 0.363);
}

.step.is-active h5{
  text-align: center;
  margin-top: 0;
  margin-left: 0;
  font-size: 40px;
  font-family: cyrene;
  color: rgb(177, 177, 177);
}

.step h5 {
  font-family: cyrene;
  text-align: center;
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 5%;
  font-size: 40px;
  color: rgba(177, 177, 177, 0.363);
}


.step-image {
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    position: center;
}

#chart svg {
  max-width: 100%;
  align-items: center;
  text-align: center;
  display: flex; 
  justify-content: center;
  background-color: rgb(12, 15, 34);
  color:#8d8d8d;
  margin: auto;
  margin-top: 4%;
}

#chart {
  background-color: rgb(12, 15, 34);
  margin: auto;
}

#scrolly2 {
  position: relative;
  /* background-color: #f3f3f3; */
  padding: 1rem;
  align-items: center;
  justify-content: center; 
  text-align: center;
  display: grid;
  justify-content: center;
}

#scrolly2 svg  {
  display: block;
  margin: auto;
}

figure.charts {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  width: 100%;
  margin: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  /* background-color: #8a8a8a; */
  z-index: 0;
  height: 90vh;
  top: 0;
  display: grid;
  justify-content: center;
}

.scrolly2_cuerpo {
  font-family: halyard;
  font-size: 20px;
  color: rgb(177, 177, 177);
  line-height: 23px;
  margin: auto;
  margin-bottom: 0;
  max-width: 700px;
  text-align: left;
}

figure.charts p {
  text-align: center;
  padding: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 8rem;
  font-weight: 900;
  color: #fff;
}

.step2 {
  margin: 0 auto 2rem auto;
  /* margin-left: 70%; */
  width: 100%;
  color: #fff;
  background-color: rgba(255, 255, 255, 0);
  height: 100vh;
  background-color: #fff;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.step2:last-child {
  margin-bottom: 0;
}

.step2.is-active p {
  background-color: #525e7da1;
  color: hwb(0 100% 0%);
  align-items: center;
  text-align: center;
  justify-content: center;
}

.step2 p {
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
  background-color: #394258a1;
  color: hwb(0 100% 0% / 0.493);
  font-family: halyard;
  font-size: 16px;
  align-items: center;
  text-align: center;
  justify-content: center;
}