* {
  box-sizing: border-box;
  /* background-color: black; */
}

body{
  margin-top: 0.5%;
  background-color: #06151b;
}

@font-face {
  font-family: cyrene;
  src: url('/tipografias/Cyrene-Regular.otf');
}

@font-face {
  font-family: halyard;
  src: url('/tipografias/Halyard Display.ttf');
}

h1 {
  font-family:cyrene;
  text-align: center;
  color:#ebeaea;
  font-size: 60px;
  font-weight: 100;
}

h2 {
  font-family:cyrene;
  text-align: center;
  color:#ebeaea;
  font-size: 40px;
  font-weight: 100;
  margin-top: -2%;
}

h4#subtitulo_scrolly2{
  font-family:cyrene;
  text-align: center;
  align-items: center; 
  display: grid;
  color:#ebeaea;
  font-size: 40px;
  margin-top: 3%;
  font-weight: 300;
  margin-bottom: 0%;
  max-width: 800px;
}

h4#subtitulo1 {
  font-family:cyrene;
  text-align: center;
  color:#ebeaea;
  font-size: 40px;
  font-weight: 300;
  margin: auto;
  margin-bottom: -10%;
  margin-top: 3%;
  max-width: 800px;
}
h4#subtitulos {
  font-family:cyrene;
  text-align: center;
  color:#ebeaea;
  font-size: 40px;
  font-weight: 300;
  margin: auto;
  margin-bottom: 1%;
  margin-top: 6%;
  max-width: 800px;
}


#imagen {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 100%;
  margin-bottom: 1%;
  max-width: 800px;
}
#imagen2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  margin-bottom: 1%;
  margin-top: -3%;
  max-width: 300px;
}

.cuerpo {
  font-family: halyard;
  font-size: 20px;
  color: #b1b1b1;
  line-height: 23px; 
  max-width: 800px;
  text-align: center;
  margin: auto;
  margin-top: 3%;
  margin-bottom: 5%;
}
.cuerpo2 {
  font-family: halyard;
  font-size: 16px;
  color: #b1b1b1;
  line-height: 23px; 
  max-width: 800px;
  text-align: center;
  margin: auto;
  margin-top: 3%;
  margin-bottom: 0;
}

.cuerpo_codif {
  font-family: halyard;
  font-size: 20px;
  color: #b1b1b1;
  line-height: 23px; 
  max-width: 800px;
  text-align: center;
  margin: auto;
  margin-top: 0%;
  margin-bottom: 3%;
}

.cuerpofinal1 {
  font-family: halyard;
  font-size: 22px;
  color: #b1b1b1;
  line-height: 23px; 
  max-width: 800px;
  text-align: center;
  margin: auto;
  margin-top: 3%;
  margin-bottom: 1%;
}
.cuerpofinal2 {
  font-family: halyard;
  font-size: 20px;
  color: #b1b1b1;
  line-height: 23px; 
  max-width: 800px;
  text-align: center;
  margin: auto;
  margin-top: 3%;
  margin-bottom: 1%;
}
.cuerpo1 {
  font-family: halyard;
  font-size: 20px;
  color: #b1b1b1;
  line-height: 23px; 
  max-width: 800px;
  text-align: center;
  margin: auto;
  margin-top: 3%;
  margin-bottom: 3%;
}

.espacio {
  margin-bottom: 20%;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: #f3f3f3;
  padding: 1rem;
  padding-right: 5rem;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.nav__examples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.nav__examples > * {
  margin-right: 0.5rem;
}

#intro {
  max-width: 40rem;
  margin: 1rem auto;
  text-align: center;
}

.intro__hed {
  font-size: 2em;
  line-height: 1.2;
  margin: 2rem auto 0.5rem auto;
}

.intro__dek {
  color: #8a8a8a;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

#intro {
  margin-bottom: 320px;
}

#outro {
  height: 50px;
}

@media (min-width: 840px) {
  .nav__examples {
    margin-top: 0;
    margin-left: 2rem;
  }
}

article {
  position: relative;
  padding: 0 1rem;
  max-width: 20rem;
  margin: 0 auto;
}

figure {
  position: -webkit-sticky;
  position: sticky;
  /*width: 100%;
  margin: 0; */
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 0;
  background-size: cover; /* Agrega esta línea */
  background-position: center; /* Agrega esta línea */
  width: 1715px;
  height: 800px;
}

figure p {
  text-align: center;
  padding: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 8rem;
  font-weight: 900;
  color: #fff;
}

.intros {
  max-width: 650px;
  display: flex;
  margin: 0 auto;
  margin-bottom: 1%;
  align-items: center;
  justify-content: center;
}

.step {
  margin: 0 auto 2rem auto;
  /* margin-left: 70%; */
  width: 100%;
  height: 80vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: flex;
}

.step:last-child {
  margin-bottom: 0;
}
.step p {
  text-align: center;
  padding: 0.6rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.5rem;
  font-family: halyard;
  font-size: 24px;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 18px;
}

.step #A {
  background-color: #A36525;
  color: #efefef;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: 3px solid #f2871d;
  opacity: 50%;

}
.step.is-active #A {
  background-color: #A36525;
  color: #efefef;
  align-items: center;
  text-align: center;
  justify-content: center;
  opacity: 100%;
  border: 3px solid #f2871d;
}
.step #B {
  background-color: #47975E;
  color: #efefef;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: 3px solid #5ad16e;
  opacity: 50%;
}
.step.is-active #B {
  background-color: #47975E;
  color: #efefef;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: 3px solid #5ad16e;
  opacity: 100%;
}
.step #C {
  background-color: #7A5EA3;
  color: #efefef;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: 3px solid #b27be3;
  opacity: 50%;
}
.step.is-active #C {
  background-color: #7A5EA3;
  color: #efefef;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: 3px solid #b27be3;
  opacity: 100%;
}
/*
.step p {
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
  background-color: #152A33;
  color: hwb(0 100% 0% / 0.493);
  font-family: halyard;
  font-size: 22px;
  align-items: center;
  text-align: center;
  justify-content: center;
}*/

#chart svg {
  max-width: 100%;
  align-items: center;
  text-align: center;
  display: flex; 
  justify-content: center;
  background-color: #06151b;
  color:#8d8d8d;
  margin: auto;
  margin-top: 4%;
}

#chart {
  background-color: #06151b;
  margin: auto;
}

#scrolly2 {
  position: relative;
  /* background-color: #f3f3f3; */
  padding: 1rem;
  align-items: center;
  justify-content: center; 
  text-align: center;
  display: grid;
  justify-content: center;
}

#scrolly2 svg  {
  display: block;
  margin: auto;
}

figure.charts {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  width: 100%;
  margin: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  /* background-color: #8a8a8a; */
  z-index: 0;
  height: 90vh;
  top: 0;
  display: grid;
  justify-content: center;
}

.scrolly2_cuerpo {
  font-family: halyard;
  font-size: 20px;
  color: rgb(177, 177, 177);
  line-height: 23px;
  margin: auto;
  margin-bottom: -10%;
  max-width: 800px;
  text-align: center;
}

figure.charts p {
  text-align: center;
  padding: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 8rem;
  font-weight: 900;
  color: #fff;
}


.step2 {
  margin: 0 auto 2rem auto;
  /* margin-left: 70%; */
  width: 100%;
  height: 100vh;
  background-color: #fff;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: flex;
}

.step2:last-child {
  margin-bottom: 0;
}

.step2.is-active p {
  background-color: #132930cf;
  color: #efefef;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.step2 p {
  padding: 1rem;
  font-size: 1.5rem;
  background-color: #3360702c;
  color: hwb(0 100% 0% / 0.091);
  font-family: halyard;
  font-size: 16px;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 13px;
}

#scrolly {
  position: relative;
  /* background-color: #f3f3f3; */
  padding: 1rem;
  align-items: center;
  justify-content: center; 
  text-align: center;
  display: grid;
  justify-content: center;
  /*padding-top: 10%;*/

}

#scrolly svg  {
  display: block;
  margin: auto;
}

figure.fotos {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  width: 100%;
  margin: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 0;
  height: 100vh;
  top: 0;
  display: grid;
  justify-content: center;
  align-items: center;
}


figure.fotos p {
  text-align: center;
  padding: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 8rem;
  font-weight: 900;
  color: #fff;
}

#caracteristicasA, #caracteristicasB, #caracteristicasC {
  margin: 1.5%;
  display: inline-block;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 50%;
}

.descripciones {
  flex-basis: 33.33%; /* Divide el espacio en tres columnas iguales */
  box-sizing: border-box;
  padding: 0px;
  text-align: center;
  padding: 1rem;
  color: #ebeaea;
  font-family: halyard;
  font-size: 16px;
  align-items: center;
  justify-content: center;
}
/* a {
  font-family: halyard;
  font-size: 25px;
  color: #cccccc;
} */

/* This only changes this particular animation duration */
.animate__animated.animate__rubberBandgit {
  --animate-duration: 2s;
  --animate-duration: 800ms;
  --animate-delay: 1s;
}

.animate__animated.animate__fadeIn {
  --animate-duration: 5s;
  --animate-delay: 5s;
}

/* This changes all the animations globally */
/* :root {
  --animate-duration: 800ms;
  --animate-delay: 10s;
} */

#fotoA {
  width: 230px;
  height: 230px;
  background-image: url("/imgs/pA.png");
  display:inline-block;
  background-size: contain; 
}

#fotoB {
  width: 230px;
  height: 230px;
  background-image: url("/imgs/pB.png");
  display:inline-block;
  background-size: contain; 
}

#fotoC {
  width: 230px;
  height: 230px;
  background-image: url("imgs/pC.png");
  display:inline-block;
  background-size: contain; 
}


.animate.pop {
  /*animation-duration: 1s;*/
  display: flex;
  align-items: center;
  justify-content: center;
  animation-name: animate-pop;
  animation-delay: 0s;
  animation-timing-function: cubic-bezier(.26, .53, .74, 1.4);
}

@keyframes animate-pop {
  0% {
    opacity: 1;
    transform: scale(0.5, 0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}


.delay-0 {
  animation-duration: 0.6s;
}
.delay-1 {
  animation-duration: 1s;
}
.delay-2 {
  animation-duration: 1.2s;
}
.delay-3 {
  animation-duration: 1.4s;
}

.content-area {
	padding: 10% 0;
}
.box.animate .content {
    transform: rotateY(180deg);
}
.box,
.front, 
.back1, .back2, .back3 {
	width: 230px;
  height: 230px;
  display:inline-block;
}
.content {
    transition: 0.8s;
    transform-style: preserve-3d;
    position: relative;
}

.front,
.back1, .back2, .back3 {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
.front {
    z-index: 2;
    transform: rotateY(0deg);
}
.back1 {
	background: url(imgs/pcaro.png);
    background-size: cover;
	background-position: center center;
    transform: rotateY(180deg);
}
.back2 {
	background: url(imgs/pnanu.png);
    background-size: cover;
	background-position: center center;
    transform: rotateY(180deg);
}
.back3 {
	background: url(imgs/pvalen.png);
    background-size: cover;
	background-position: center center;
    transform: rotateY(180deg);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin:auto;
}

.img1 {
  background: url(imgs/pA.png);
  background-size: cover;
	background-position: center center;
}

.content {
  margin-top:20px;
  padding: 3px;
}

.content:hover {
	cursor:pointer;
  margin-top: 5px;
}

.img2 {
    background: url(imgs/pB.png);
    background-size: cover;
	background-position: center center;
}
.img3 {
    background-image: url(imgs/pC.png);
    background-size: cover;
	background-position: center center;
}

.img1, .img, .img3 {
  width: 230px;
  height: 230px;
  display:inline-block;
}

#caracteristicasA:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgba(147, 103, 53, 0.4);
}

#caracteristicasB:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}

#caracteristicasC:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}